[Unit]
Description=Kodi Amlogic HDMI connection monitor
After=kodi.service

[Service]
Type=simple
ExecStart=/usr/sbin/kodi-aml-hdmimonitor.sh

[Install]
WantedBy=kodi.target
